//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
@taskworld:registry=https://npm.pkg.github.com

auto-install-peers = false
git-tag-version = false
link-workspace-packages = false
manage-package-manager-versions = true
node-linker = isolated
recursive-install = false
save-workspace-protocol = false
shared-workspace-lockfile = false
strict-peer-dependencies = false
